{% load user_filters %}

{% if user.is_authenticated %} 
<div class="card my-4">
<a name="add_comment"></a>
<form
    action="{% url 'add_comment' post.author.username post.id %}"
    method="post">
    {% csrf_token %}
    <h6 class="card-header">Добавить комментарий:</h6>
    <div class="card-body">
    <form>
        <div class="form-group">
            {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" id="follow" style="padding: 10px"><a>Отправить</a></button>
    </form>
    </div>
</form>
</div>
{% endif %}

<!-- Комментарии -->
<a name="comments"></a>
{% if comments %}
<p id="navbartop" style="font-size: 16px;">Комментарии:</p>
{% endif %}
{% for item in comments %}
<div class="media mb-4">
<div class="media-body">
    <h5 class="mt-0">
    <a
        href="{% url 'profile' item.author.username %}"
        name="comment_{{ item.id }}"
        >{{ item.author.username }}</a>
    </h5>
    {{ item.text }}
</div>
</div>

{% endfor %}