<div class="card mb-3 mt-3 border-0">

    <div class="card-body">
        <h6 id="title">
            {% if post.title %}
                {{post.title}}
            {% else %}
                Без названия
            {% endif %}
        </h6>    
    <div id="navbartop">
        {{ post.pub_date }}
    </div>
    <a name="post_{{ post.id }}"  style="padding-bottom: 20px" href="{% url 'profile' post.author.username %}">
        Автор: {{ post.author }}
    </a>
    {% if post.group %}
        <a class="card-link muted" href="{% url 'groups' post.group.slug %}">
            <strong class="d-block text-gray">#{{ post.group.title }}</strong>
        </a>
    {% endif %}
    {% load thumbnail %}
    {% thumbnail post.image "690x460" crop="center" padding=True upscale=True as im %}
        <img class="card-img" src="{{ im.url }}" style="border-radius: 0; width: 690px;">
    {% endthumbnail %}
    <p class="card-text">
        {% if index %}
            {{ post.text|linebreaksbr|truncatewords:30  }} <br>
            <div>
                <a id="follow" style="max-width: 150px;" href="{% url 'post' post.author.username post.id %}">Читать далее</a>
            </div>
        
        {% if not forloop.last %}<hr>{% endif %} 
        {% else %}
            {{ post.text|linebreaksbr }}
            <div class="d-flex justify-content-between align-items-center">
                <div style="margin-top: 10px">
                    <div id="button" style="margin-bottom: 20px;">
    
                        
                            {% if post.comments.exists %}
                            <a href="{% url 'post' post.author.username post.id %}#comments" role="button">
                                <p>Комментариев: {{ post.comments.count }} </p>
                            </a>
                            {% endif %}
                            {% if fol %}
                            <div>
                            <a id="follow" style="padding-left: 6px; padding-right: 6px; padding-bottom: 0px; padding-top: 6px;" href="{% url 'post' post.author.username post.id %}#add_comment" role="button">
                                <p>Добавить комментарий</p>
                            </a>
                            </div>
                            {% endif %}
    
                        
                        </a>
    
                    </div>
                    {% if user == post.author %}
                        <div id="follow" style="padding: 10px">
                            <a href="{% url 'post_edit' post.author.username post.id %}" role="button">Редактировать    
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div> 

        {% endif %}
        
    </p>
    </div>
</div>
