{% load static %}
<img class="d-none d-sm-block" style="margin-left: auto; margin-right: auto;" src="{% static 'img/girl.png' %}">
<div class="text-center d-none d-sm-block" style="width: 200px; margin-left: auto; margin-right: auto;">
    Поэзия темной романтики.<br>
    Неформальное сообщество<br>
    неформальных поэтов. <br>
    Стань автором,<br>
    поделись своим творчеством!<br>
</div>
<hr style="margin-bottom: 20px; margin-top: 30px; margin-bottom: 20px;"/>

<h6 class="text-center" id="navbartop" style="font-size: 14px; color: black;">Теги</h6>
<div>
    <ul id="list">
        {% for group in groups %}
        <li>
            <a id="list" style="margin-top: 5px;" href="{% url 'groups' group.slug %}" >{{ group.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <hr style="margin-bottom: 20px; margin-top: 30px;"/>